

<suite name="Suite1" verbose="1" parallel="false">
    <test name="Sprint1">
        <classes>
        	<!--  Major Functioanlity  -->
        	<!-- Addition and deletions of user and property  -->
        	
        	<!-- add and remove Property -->
			<class name="Major_functions.Add_multifamily_Property"></class>
			<class name="Major_functions.Add_single_property"></class>
			
		
			
			
			
        </classes>

   		 </test>
    
</suite>
